<router-outlet></router-outlet>

<!-- <footer class="containter-fluid bg-dark">
    <div class="row">
        <div class="col-sm-12 copyright">
            &copy; 2021 Katedra za računarsku tehniku i informatiku.
            <br/>
            <small>Elektrotehnički fakultet, Univerzitet u Beogradu POB 35-54, 11120 Beograd, Srbija</small>
        </div>
    </div> 
    
            <div class="row" style="margin: 0; padding: 0; background-color: black; color: white; 
             position:absolute; bottom: 0; width: 100%;">
                <div class="col-lg-12 " style="margin: 0; padding: 0; ">
                    <div class="copyright d-flex p-4 justify-content-center  align-items-center" style="margin: 0; padding: 0;"  >
                        <p  style="margin: 0; padding: 0; ">
                            <span style="margin: 0;">&copy; Copyright 2021, Jelena Bakić </span> 
                        </p>
                    </div>
                </div>
               
            </div>
        
  </footer> -->