<div id="page-container" >

    <app-header></app-header>

    <div class="container-fluid ">
        <div class="row" style="background-color: antiquewhite;">
            <br>
            <h2>Pregled nekretnina</h2>
        </div>
        <div class='row'>
            <br>
            <h3>Neodobrene nekretnine:</h3>
        </div>
        <div class="card-group">
            <div class="col-2" *ngFor = 'let n of neodobreneNekretnine'>
                <div class="card">
                    <img class="card-img-top" src="../../assets/{{n.galerija[1]}}" alt="Card image">
                    <div class="card-body">
                            <h4 class="cardtitle">{{n.naziv}}</h4>
                            <p class="cardtext">{{n.opstina}} | {{n.grad}} | {{n.cena}}€ 
                                | {{n.tip}} | {{n.kvadratura}}m2 | {{n.namena}}</p>
                            <a href="/radnik" (click)="odobriNekretninu(n)" class="btnbtn-primary">Odobri</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class='row'>
            <br>            
            <h3>Odobrene nekretnine:</h3>
        </div>
        <div class="card-group">
            <div class="col-2" *ngFor = 'let n of nepromovisaneNekretnine'>
                <div class="card">
                    <img class="card-img-top" src="../../assets/{{n.galerija[1]}}" alt="Card image">
                    <div class="card-body">
                            <h4 class="cardtitle">{{n.naziv}}</h4>
                            <p class="cardtext">{{n.opstina}} | {{n.grad}} | {{n.cena}}€ 
                                | {{n.tip}} | {{n.kvadratura}}m2 | {{n.namena}}</p>
                            <a href="/radnik" (click)="promovisiNekretninu(n)" class="btnbtn-primary">Promovisi</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
       
        <div class="card-group">
            <div class="col-2" *ngFor = 'let n of promovisaneNekretnine'>
                <div class="card">
                    <img class="card-img-top" src="../../assets/{{n.galerija[1]}}" alt="Card image">
                    <div class="card-body">
                            <h4 class="cardtitle">{{n.naziv}}</h4>
                            <p class="cardtext">{{n.opstina}} | {{n.grad}} | {{n.cena}}€ 
                                | {{n.tip}} | {{n.kvadratura}}m2 | {{n.namena}}</p>
                            <a href="/radnik" (click)="ukloniIzPromovisanih(n)" class="btnbtn-primary">Ukloni iz promovisanih</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
       
    


    <div class="row" style="background-color: antiquewhite;">
        <h2>Graficki prikaz nekretnina: </h2>
    </div>
    <br>
    <div class="row" style="margin-left: 40%; margin-right: 40%;">
        <p>Broj nekretnina prema nameni:</p>
    </div>
        <div class="graf" style="display: block">
            <canvas baseChart
                [datasets]="barChartData1"
                [labels]="barChartLabels1"
                [options]="barChartOptions1"
                [legend]="barChartLegend1"
                [chartType]="barChartType1">
            </canvas>
        </div>
    
    
    <br>
    <div class="row" style="margin-left: 40%; margin-right: 40%;">
        <p>Broj nekretnina po gradovima:</p>
    </div>
        <div class="graf" style="display: block">
            <canvas baseChart
                [datasets]="barChartData2"
                [labels]="barChartLabels2"
                [options]="barChartOptions2"
                [legend]="barChartLegend2"
                [chartType]="barChartType2">
            </canvas>
        </div>
    
    <br>
    <div class="row" style="margin-left: 40%; margin-right: 40%;">
        <p>Cenovni rang:</p>
    </div>
        <div class="graf" style="display: block">
            <canvas baseChart
                [datasets]="barChartData3"
                [labels]="barChartLabels3"
                [options]="barChartOptions3"
                [legend]="barChartLegend3"
                [chartType]="barChartType3">
            </canvas>
        </div>
   
    <br>
    <div class='row' style="background-color: antiquewhite;">
        <br>            
        <h3>Neodobrene ponude:</h3>
    </div>
    <div class="card-group">
        <div class="col-2" *ngFor = 'let n of nepotvrdjenePonude'>
            <div class="card">
                <div class="card-body">
                        <h4 class="cardtitle">{{n.idPonude}} {{n.nazivNekretnine}}</h4>
                        <p class="cardtext"> Nudi: {{n.nudi}}  Vlasnik: {{n.vlasnik}}  Tip: {{n.tip}}</p>
                </div>
                <div class="card-footer"> 
                    <button class="btn btnbtn-primary" (click)="potvrdi(n)">Potvrdi</button>
                    <button class="btn btnbtn-primary" (click)="odbij(n)">Odbij</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: antiquewhite;">
        <h2>Prihod: {{prihod}}</h2>
    </div>

    <div class='row' style="background-color: antiquewhite;">
        <br>            
        <h3>Ugovorene prodaje:</h3>
    </div>
    <div class="card-group">
        <div class="col-2" *ngFor = 'let n of prodaje'>
            <div class="card">
                <div class="card-body">
                        <h4 class="cardtitle">{{n.idPonude}} {{n.nazivNekretnine}}</h4>
                        <p class="cardtext"> Nudi: {{n.nudi}}  Vlasnik: {{n.vlasnik}}  Tip: {{n.tip}}</p>
                </div>
            </div>
        </div>
    </div>
    

</div>

<!-- ne radi klasican footer jer je velika stranica !!!!! -->

<footer  id="footer" style=" background-color: black; color: white; width: 100%;">               
    <div>
        <div class="container ">
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-lg-12 " style="margin: 0; padding: 0;">
                    <div class="copyright d-flex p-4 justify-content-center  align-items-center" style="margin: 0; padding: 0;"  >
                        
                            &copy; Copyright 2021, Jelena Bakić
                        
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>
