<footer  id="footer">               
    <div>
        <div class="container ">
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-lg-12 " style="margin: 0; padding: 0; ">
                    <div class="copyright d-flex p-4 justify-content-center  align-items-center" style="margin: 0; padding: 0;"  >
                        <p  style="margin: 0; padding: 0; ">
                            <span style="margin: 0;">&copy; Copyright 2021, Jelena Bakić </span> 
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>